/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url('../images/cover-image-dark.png');
  --accent-color: #ff0070;
  --background-color: #000536;
  --main-title-color: #DB00FF;
  --decor-text-color: #000028;
  --content-text-color: #F1B2CE;
}

.theme-dark .page .header__decoration-text {
  display: block;
}
  /* Вам также нужно будет написать ряд подобных селекторов */
