/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url('../images/cover-image-light.png');
  --accent-color: #FF8DCB;
  --background-color: #fff4f4;
  --main-title-color: #FFC2E6;
  --decor-text-color: #353430;
  --content-text-color: #353430;
  --corner-color: #353430;
  --button-hover-border-color: #32312D66;
  --menu-button-color: #353430;
  --section-title-color: #353430;
}

.theme-light .page .header__decoration-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url('../images/cover-image-light.png');
    --accent-color: #FF8DCB;
    --background-color: #fff4f4;
    --main-title-color: #FFC2E6;
    --decor-text-color: #353430;
    --content-text-color: #353430;
    --corner-color: #353430;
    --button-hover-border-color: #32312D66;
    --menu-button-color: #353430;
    --section-title-color: #353430;
  }

  .header__decoration-text {
    display: none;
  }
}